/* AppNavbar & AppFooter*/

.authBtns{
    color: white !important;
    border: 1px solid #0E6B06 !important;
}

.myRespMenuDrpdwn, .myProfileDrpdwn{
    width: 15rem;
    background-color: white;
    z-index: 5;
    border-radius: 10px !important;
    border: 1px solid #0E6B06;
}

.cartBtn{
    border: 1px solid white !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 4.5rem;
}

.footerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

@media screen and (max-width : 991px) {
    .navTab{
        display: none;
    }
    .respBtn{
        display: block;
    }
    .myProfileDrpdwn{
        position: absolute;
        top: 4.25rem;
        right: 5.5rem;
    }
    .myRespMenuDrpdwn{
        position: absolute;
        top: 4.25rem;
        right: 2.5rem;
    }
    .footerMenu{
        flex-direction: column;
    }
}

@media screen and (min-width : 992px) {
    .navs{
        width: 65%;
        justify-content: space-around;
        align-items: center;
    }
    .respBtn{
        display: none !important;
    }
    .myProfileDrpdwn{
        position: absolute;
        top: 4.25rem;
        right: 2rem;
    }
}

@media screen and (min-width : 1200px) {
    .navs{
        width: 55%;
        justify-content: space-around;
        align-items: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* Login & Register */

.frgtPwdText, .loginText{
    color: #0E6B06;
    text-decoration: none;
}

@media screen and (min-width : 768px){
    .authForm{
        width: 55%;
        border: 1px solid #0E6B06;
    }
}

@media screen and (min-width : 1024px){
    .authForm{
        width: 35%;
        border: 1px solid #0E6B06;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* Home */

.carouselImage{
    width: 100%;
    height: 23rem;
    object-fit: contain;
}

.processStepBlock{
    width: 18rem;
}

.tipsBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width : 576px){
    .tipsBlock{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width : 768px){
    .homeTextContent{
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        align-items: center;
    }
    .homeTextRightContent{
        width: 100% !important;
    }
    .tipsImage{
        width: 7rem;
    }
}

@media screen and (min-width : 991px){
    .homeTextContent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .homeTextLeftContent,.homeTextRightContent{
        width: 50%;
    }
    .homeTextRightContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tipsImage{
        width: 11rem;
    }
}

@media screen and (max-width : 991px){
    .carouselImage{
        height: 10rem;
    }
    .homeTextContent{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .homeTextLeftContent,.homeTextRightContent{
        width: 100%;
    }
    .homeTextRightContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tipsImage{
        width: 7rem;
    }    
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* About Us */

.aboutImage{
    width: 100%;
    height: 10rem;
}

.aboutPrdtImage{
    width: 200px;
    height: 200px;
}

.aboutLeftContent{
    padding: 2rem 0;
}

.aboutRightContent{
    margin-left: 25%;
    margin-bottom: 5%;
}

@media screen and (min-width : 991px){
    .aboutImage{
        width: 100%;
        height: 25rem;
    }
    .aboutContent{
        display: flex;
        flex-direction: row;
    }
    .aboutLeftContent, .aboutRightContent{
        width: 50%;
        padding: 2rem 0;
    }
    .aboutRightContent{
        margin-left: 25%;
        margin-top: 5%;
    }
    .aboutPrdtImage{
        width: 400px;
        height: 400px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* Health & Certifications */
.carouselHCImage{
    width: 100%;
    height: 10rem;
    object-fit: fill;
}

.hcComboImg, .hcCertifyImg{
    width: 300px;
    height: 300px;
}

.healthBlock, .certificationBlock{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.healthBlock{
    padding-top: 2rem;
}

.certificationBlock{
    padding-bottom: 2rem;
}

@media screen and (max-width : 576px){
    .hcComboImg, .hcCertifyImg{
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width : 991px){
    .carouselHCImage{
        height: 23rem;
    }
    .healthBlock, .certificationBlock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hcComboImg, .hcCertifyImg{
        width: 300px;
        height: 300px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* Contactus */

@media screen and (min-width : 991px){
    .contactBlock{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mapBlock, .contactForm{
        width: 50%;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/*Buy Produts */

.productCard{
    margin-left: 15%;
}

.productCardBody {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

@media screen and (min-width : 768px){
    .productCard{
        margin-left: 0;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/*My Accounts */

@media screen and (max-width : 576px){
    .cardImage {
        width: 6rem;
    }
    .subtitle{
        font-size: smaller;
    }
}

@media screen and (max-width : 767px){
    .cardImage {
        width: 8rem;
    }
    .accountCards{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 3rem 0;
    }
    .cardAcc{
        margin-bottom: 1rem;
    }
    .cardBody{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .cardBodyText{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
}

@media screen and (min-width : 768px) and (max-width : 991px){
    .cardImage {
        width: 8rem;
    }
    .accountCards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 3rem 0;
    }
    .cardAcc{
        width: 14rem;
    }
    .cardBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardBodyText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width : 991px){
    .cardImage {
        width: 10rem;
    }
    .accountCards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 3rem 0;
    }
    .cardAcc{
        width: 22rem;
    }
    .cardBody{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .cardBodyText{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/*My Profile */

.profileBlock{
    padding : 2rem;
    border : 1px solid #0E6B06;
    border-radius: 30px;
}
.profileTextField{
    border:  1px solid #0E6B06;
    border-radius: 10px;
    height: 2rem;
    padding: 0 0.5rem;
    align-content: center;
}

@media screen and (min-width :992px){
    .profileBlock{
        width: 40%;
        height: max-content;
        padding : 3rem;
    }
    .profileData{
        height: max-content;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

/*My Address */

@media screen and (min-width :992px){
    .addressCards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 3rem 0;
    }
    .addressContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .addressText{
        height: 10rem;
        width: 70%;
    }
    .actionBtns{
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}